@model Shopcuatoi.Web.ViewModels.Catalog.ProductsByCategory

<h2 class="page-header">@Model.CategoryName</h2>
<div class="row">
    @foreach (var product in Model.Products)
    {
        @Html.Partial("Partials/_ProductContainerPartial", product)
    }
</div>